<h1>Data Science Tools and Ecosystem</h1>

<h2>Introduction</h2>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h2>Objectives</h2>

- List Popular languages for Data science

- List popular libraries used for Data science

- List tools used in Data science

<strong>Some of the popular languages that Data Scientists use are:</strong>
1. Python
2. R
3. SQL

<strong>Some of the commonly used libraries used by Data Scientists include:</strong>
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.


|Data Science Tools| 
|:--------:|
|  Apache Spark |
| Jupyter Notebook |
| Apache Hadhoop |
| PostGre SQL |
| Excel |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
time_in_minutes = 200
time_in_hours = time_in_minutes/60
print(f"{time_in_minutes} mins converted to hours is {time_in_hours}hrs")

200 mins converted to hours is 3.3333333333333335hrs

<h2>Author</h2>
Olubumi Kazzim